body{
  background-color: lightgrey;
  position: relative;
}
.app{
  display: flex;
  direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
}
.date_input{
  height: 30px;
  -webkit-user-drag: element;
  cursor: pointer;
  width: 150px;
  margin-left: 20px;
  border: 2px dotted black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 20px;
  color: black;
}
.sign_input{
  height: 30px;
  -webkit-user-drag: element;
  cursor: pointer;
  width: 100px;
  margin-left: 20px;
  border: 2px dotted black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 25px;
  color: black;
}
.editorPage{
  overflow-x: scroll;
  overflow-y: scroll;
  height: 700px;
  width:700px;
  background-color: white;
  margin-left: 300px;
  margin-top: 70px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
}
.image_input{
  height: fit-content;
  -webkit-user-drag: element;
  cursor: pointer;
  width:fit-content;
  margin-left: 20px;
  border: 2px dotted black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 15px;
  color: black;
}
.radio_input{
  height: 20px;
  -webkit-user-drag: element;
  cursor: pointer;
  width: 20px;
  margin-left: 20px;
  border: 2px dotted black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 15px;
  color: black;
}
.MainApp{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.Nav{
  display: flex;
  direction: row;
  gap: 20px;
  height: 100px;
  width : 1520px;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  border: 2px solid black;
  box-shadow: 2px 2px 2px blue;
}
.dragItems{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  width: 200px;
  margin-left: 20px;

}
.textPage input{
  height: 30px;
  position: absolute;
  -webkit-user-drag: element;
  /* cursor: pointer; */
  width: 100px;
  margin-left: 20px;
  border: 2px dotted black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 25px;
  color: black;
  resize: both;
  min-width: 20px;
  min-height: 20px;
  cursor:grab;

}
.textPage input.dragging{
  cursor: grabbing;

  opacity: 0.5;
}
.dragItems div{
  height: 50px;
  border: 2px;
  width: 300px;
  background-color: tomato;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  font-size: 25px;
}
.dragItems div:hover{
  background-color: orange;
  scale: 1.05;
}