body{
  background-color: #ffffff;
  overflow-y: hidden;
  padding: 5px;
}
.app{
  display: flex;
  direction: column;
  justify-content: flex-start;
}
.editorPage {
  display: flex;
  flex-direction: row;
  position: relative;   
  overflow-x: scroll;
  overflow-y: scroll;
  height: 500px;
  width: 700px;
  background-color: white;
  margin-left: 200px;
  margin-top: 0px;
  gap: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
}
.MainApp{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.Nav{
  display: flex;
  direction: row;
  gap: 20px;
  height: 100px;
  width : 1500px;
  margin-left: 10px;
  align-items: center;
  background-color: #0d1b2a;
  justify-content: space-around;
  border: 2px solid black;
  box-shadow: 2px 2px 2px blue;
}
.Nav h2{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.Nav a{
  color: white;
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-out;
}
.Nav a:hover{
  color: #fca311;
  scale: 1.1;
}
.dragItems{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #e1e5f2;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  margin-left: 20px;
  transition: all 0s ease-out;

}
.dragItems:hover{
  box-shadow: 5px 5px 5px grey;
}

.textPage input.dragging{
  cursor: grabbing;
  opacity: 0.5;
}
.dragItems div{
  height: 50px;
  border: 2px;
  width: 300px;
  background-color: #bfdbf7;
  cursor: pointer;
  align-content: center;
  text-align: center;
  font-size: 25px;
}
.dragItems div:hover{
  background-color: #007ea7;
  scale: 1.05;
  border-radius: 5px;
}
.canva{
    border:1px solid #000000;
    width:50%;
    height:50%;
    margin-top: 100px;
    margin-left: 100px;
}
.can{
    display: flex;
    flex-direction: column;
}
#btn{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 16px;
    font-weight: bold;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#Clear{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 16px;
    font-weight: bold;
}