body{
  background-color: lightgrey;
}
.app{
  display: flex;
  direction: column;
  justify-content: flex-start;
}
.editorPage {
  display: flex;
  flex-direction: row;
  position: absolute;   
  overflow-x: scroll;
  overflow-y: scroll;
  height: 500px;
  width: 700px;
  background-color: white;
  margin-left: 300px;
  margin-top: 0px;
  gap: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
}
.MainApp{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.Nav{
  display: flex;
  direction: row;
  gap: 20px;
  height: 100px;
  width : 1520px;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  border: 2px solid black;
  box-shadow: 2px 2px 2px blue;
}
.dragItems{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  width: 200px;
  margin-left: 20px;

}

.textPage input.dragging{
  cursor: grabbing;
  opacity: 0.5;
}
.dragItems div{
  height: 50px;
  border: 2px;
  width: 300px;
  background-color: tomato;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  font-size: 25px;
}
.dragItems div:hover{
  background-color: orange;
  scale: 1.05;
}